# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build Outputs
# =========================
.next/
dist/
.dist/
build/
coverage/
.turbo/
out/

# =========================
# Environment
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# TypeScript
# =========================
*.tsbuildinfo
next-env.d.ts

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Deployment
# =========================
.vercel/

# =========================
# Temporary Files
# =========================
.temp/
.tmp/

# =========================
# Runtime
# =========================
*.pid
*.seed
*.pid.lock

# =========================
# Misc
# =========================
.pnp
.pnp.*